.modal-route {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(68, 68, 68, 0.555);
    z-index: 90;
}

.modal-route .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-edit-container {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @include for-mobile-layout {
        margin: 0;
        padding: rem(15px);
        padding-top: 30px;
        border-radius: 0;
    }

    user-select: none;
    margin: 48px 0 80px;
    width: rem(850px);
    color: $clr1;
    height: rem(900px);
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbar1;
    max-height: 86vh;
    border-radius: rem(8px);
    background-color: #f3f3f3;
    z-index: 100;
    padding: rem(30px);

    .main-area {
        flex-basis: 90%;
        margin-left: rem(18px);

        @include for-mobile-layout {
            width: 80px;
        }

        .edit-card-title {
            @include for-mobile-layout {
                margin-bottom: rem(16px);
                margin-right: rem(10px);
            }

            align-items: center;
            margin-bottom: rem(5px);
            font-size: 18px;
            font-weight: 600;
        }

        i {
            font-size: rem(25px);
            width: rem(30px);
        }

        .contenteditable-title {
            align-items: center;
            height: rem(72px);
            font-weight: 600;
            margin-bottom: 0;
            margin-left: 5px;
            font-size: 23px;

            &:hover {
                transition-duration: 150ms;
                background-color: rgb(219, 219, 219);
            }
        }

        .edit-card-in-list {

            margin-bottom: rem(20px);
            font-size: rem(22px);

            :first-child {
                margin-left: rem(38px);
            }

            :nth-child(2) {
                text-decoration: underline;
                margin-left: rem(5px);
            }
        }

        .card-preview-labels {
            margin-bottom: rem(20px);
            margin-left: rem(38px);
        }

        .members-dueDate-container {
            flex-wrap: wrap;
            margin-bottom: rem(20px);
            margin-left: rem(38px);

            h5 {
                font-size: rem(17px);
                line-height: 30px;
            }

            .due-date-container {
                margin-right: rem(20px);
                height: 76px;

                .el-input__inner {
                    width: 320px;
                }
            }

            .members-container {
                justify-content: space-between;
                height: 76px;

                .avatar-list {
                    margin: 0px;

                    .avatar {
                        padding: 1px 1px 6px;

                    }
                }
            }
        }

        .edit-card-desc {
            margin-bottom: rem(15px);

            textarea {
                @include for-mobile-layout {
                    width: 70%;
                }

                width: 90%;
                min-height: 50px;
                border: none;
                margin-left: rem(38px);
                padding: 10px;
                background-color: &clr2;
                font-family: sans-serif;
                border-radius: 5px;
                resize: none;

                &:hover {
                    transition-duration: 150ms;
                    background-color: rgb(219, 219, 219);
                }

                &:focus {
                    min-height: 150px;
                }
            }
        }

        .edit-card-img {
            margin-bottom: rem(15px);

            .img-delete-container {
                align-items: flex-start;

                .uploaded-img {
                    width: 60%;
                    max-height: 50%;
                    margin-left: rem(38px);
                    margin-right: rem(10px);
                    cursor: pointer;
                }

                h5 {
                    margin-bottom: 0;
                    border-radius: 4px;
                    color: transparent;
                    cursor: pointer;
                    position: relative;
                    right: 45px;
                    top: 5px;

                    @include for-mobile-layout {
                        background-color: rgba(211, 211, 211, 0.63);
                        color: $clr1;
                    }

                    i {
                        padding: 5px;
                        border-radius: 3px;
                        width: auto;
                    }
                }

                &:hover {

                    h5 {
                        color: $clr1;
                        background-color: rgba(211, 211, 211, 0.63);
                        transition-duration: 150ms;
                    }
                }
            }
        }

        .edit-card-checklist {
            align-items: center;
            font-size: 18px;
        }
    }

    .edit-card-buttons-area {
        margin-right: rem(18px);
        flex-direction: column;
        width: rem(180px);

        .edit-card-buttons-container {
            position: relative;

            .main-btn-card-edit {
                @include for-mobile-layout {
                    margin-top: 20px;

                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    margin-right: 10px;
                }

                align-items: center;
                @include card-edit-btns;
            }
        }

        @include for-mobile-layout {
            z-index: 10;
            width: 50px;

            .edit-card-buttons-container {
                .main-btn-card-edit {

                    color: transparent;
                    width: 50px;

                    i {
                        display: block;
                        color: $clr1;
                        font-size: 20px;
                    }
                }
            }
        }

        .close-edit-card {
            font-size: rem(25px);
            justify-content: flex-end;
            margin-bottom: rem(20px);

            @include for-mobile-layout {
                justify-content: center;

            }
        }

        .edit-label {
            justify-content: space-between;
            font-size: rem(18px);
            margin-bottom: rem(8px);
            width: rem(150px);
            text-align: left;
            border-radius: 3px;
            cursor: pointer;
            color: whitesmoke;

            p {
                margin-bottom: 0;
                padding: 0 5px 3px 5px;
            }

            .edit-label-btn {
                font-size: rem(18px);
                color: whitesmoke;

                &:hover {
                    color: #5d5d5d;
                }
            }
        }

        .card-edit-labels-list {
            position: absolute;
            right: 147px;
            top: 26px;
            z-index: 2;
            color: $clr1;
            display: flex;
            flex-direction: column;
            background-color: #f4f5f7;

            @include for-mobile-layout {
                right: 39px;
                top: 39px;
            }

            .label-form {
                background-color: #f4f5f7;
                padding-bottom: 8px;
                top: 32px;

                input {
                    width: rem(150px);
                    margin-bottom: 8px;
                }

                .labels-form-btn {

                    justify-content: space-between;

                    .el-icon-close {
                        padding-left: 5px;
                    }

                    i {
                        align-items: center;
                    }

                    :first-child {
                        flex: 1;
                        margin-right: 8px;
                    }
                }
            }
        }

        .add-members {
            position: absolute;
            right: 147px;
            top: 48px;
            background-color: #f4f5f7;
            width: 120%;
            z-index: 2;
            color: $clr1;
            padding: 8px 8px 4px;
            @include menu;

            @include for-mobile-layout {
                width: 250px;
                right: 39px;
                top: 75px
            }

            .member-name {
                font-size: 12px;
            }

            .edit-card-member {
                justify-content: space-around;
                padding: 3px 10px;
                align-items: center;
                background-color: rgb(255, 255, 255);
                margin-bottom: rem(8px);
                border-radius: 2px;
                box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
                cursor: pointer;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "avatarImg faCheck memberName";

                &:hover {
                    background-color: #f0f0f0;
                }

                .avatar-img {
                    display: flex;
                    justify-content: flex-start;
                    grid-area: avatarImg;
                    align-self: center;
                    width: 40px;
                }

                .fa-check {
                    display: flex;
                    justify-content: center;
                    grid-area: faCheck;
                    align-self: center;
                    width: 30px;
                }

                .member-name {
                    display: flex;
                    justify-content: flex-end;
                    grid-area: memberName;
                    align-self: center;
                    width: 80px;
                }
            }
        }

        .card-edit-due-date {
            width: 300px;
            position: absolute;
            right: 20px;
            top: 82px;
            z-index: 2;

            .el-picker-panel {
                top: 208px;
                margin: none;
            }

            @include for-mobile-layout {
                width: 240px;
                right: 0px;
                top: 140px
            }
        }

        .card-edit-color {
            .colors-container {
                position: absolute;
                right: 147px;
                top: 196px;
                display: flex;
                align-items: center;
                padding: 3px;
                background-color: #f4f5f7;
                z-index: 5;
                box-shadow: 0 12px 24px -6px rgba(47, 52, 59, 0.25), 0 0 0 1px rgba(9, 30, 66, .08);

                .color {
                    margin: 3px;
                    width: 20px;
                    height: 20px;
                }

                @include for-mobile-layout {
                    .color {
                        width: 30px;
                        height: 30px;
                        margin-left: 5px;
                    }

                    right: 39px;
                    top: 270px;
                }
            }
        }

        .color {
            cursor: pointer;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid rgb(59, 59, 59);
        }

        .card-move-to-menu {


            @include for-mobile-layout {
                right: 39px;
                top: 326px;
            }

            position: absolute;
            right: 147px;
            top: 245px;
            z-index: 2;
            background-color: #f4f5f7;
            font-size: 14px;
            width: 160px;
            box-shadow: 0 12px 24px -6px rgba(47, 52, 59, 0.25),
            0 0 0 1px rgba(9, 30, 66, .08);
            padding: 5px;

            .list-select {
                width: 150px;
                border: none;
                background-color: rgba(9, 30, 66, 0.04);
                margin: 5px 0;
                border-radius: 3px;

                &:hover {
                    background-color: rgba(65, 65, 65, 0.205);
                    transition-duration: 300ms;
                }
            }

            .position-title {
                margin-bottom: 5px;
            }

            .position-container {
                justify-content: space-between;

                .position-select {
                    width: 45px;
                    border: none;
                    background-color: rgba(1, 87, 235, 0.04);
                    border-radius: 3px;

                    &:hover {
                        background-color: rgba(65, 65, 65, 0.205);
                        transition-duration: 300ms;
                    }
                }



                button {
                    @include for-mobile-layout {
                        background-color: rgba(7, 22, 47, 0.089);
                    }

                    border-radius: 3px;
                    height: 25px;
                    width: 100px;
                    background-color: rgba(7, 22, 47, 0.089);

                    &:hover {
                        background-color: rgba(65, 65, 65, 0.205);
                        transition-duration: 300ms;
                    }
                }

            }


        }

        .add-checklist-container {

            position: absolute;
            right: 147px;
            top: 171px;
            z-index: 2;
            background-color: #f4f5f7;
            box-shadow: 0 12px 24px -6px rgba(47, 52, 59, 0.25),
                0 0 0 1px rgba(9, 30, 66, .08);
            width: 175px;
            padding: 5px;

            @include for-mobile-layout {
                right: 26px;
                top: 232px;
            }

            input {
                width: 161px;
                border: none;
                background-color: rgba(9, 30, 66, 0.04);
                margin: 5px 0;
                border-radius: 3px;

                &:hover {
                    background-color: rgba(65, 65, 65, 0.205);
                    transition-duration: 300ms;
                }
            }

            button {
                @include for-mobile-layout {
                    background-color: rgba(7, 22, 47, 0.089);
                }

                border-radius: 3px;
                height: 25px;
                width: 100px;
                background-color: rgba(7, 22, 47, 0.089);

                &:hover {
                    background-color: rgba(65, 65, 65, 0.205);
                    transition-duration: 300ms;
                }
            }
        }


    }
}