.modal-route {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(68, 68, 68, 0.555);
}

.modal-route .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-edit-container {
    color: $clr1;
    width: rem(600px);
    min-height: rem(600px);
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbar1;
    max-height: 86vh;
    border-radius: rem(8px);
    background-color: #f0f0f0;
    position: relative;
    z-index: 100;
    padding: rem(15px);
    justify-content: space-between;
    gap: rem(15px);


    .main-area {

        flex-basis: 80%;

        .edit-card-title {
            // border: 1px solid black;
            margin-bottom: rem(20px);

            i {
                width: rem(20px);
            }

        }

        .contenteditable-title:hover {
            transition-duration: 150ms;
            background-color: rgb(219, 219, 219);

            // :not(i){}
        }


        // border: 1px solid black;
        .edit-card-in-list {

            // border: 1px solid black;
            margin-bottom: rem(20px);

            :first-child {
                margin-left: rem(27px);

            }

            :nth-child(2) {
                text-decoration: underline;
                margin-left: rem(3px);
            }
        }


        .card-preview-labels {
            // border: 1px solid black;
            margin-bottom: rem(20px);
            margin-left: rem(27px);

        }



        .members-dueDate-container {
            // border: 1px solid black;
            flex-wrap: wrap;
            margin-bottom: rem(20px);
            gap: rem(20px);
            margin-left: rem(27px);





            .members-container {
                // border: 1px solid rgb(194, 16, 16);
                flex-wrap: wrap;
                justify-content: space-between;
                // margin-bottom: rem(20px);
                height: rem(60px);


                h5 {
                    // margin-bottom: rem(20px);
                }

                .avatar-list {
                    margin: 0px;

                    .avatar {
                        margin-right: 1px;
                    }
                }
            }

            .due-date-container {
                // border: 1px solid rgb(70, 30, 204);
                justify-content: space-between;
                width: rem(137px);
                height: rem(60px);

                // h5 {
                //     margin-bottom: rem(27px);
                // }

            }
        }

        .edit-card-desc {
            margin-bottom: rem(20px);


            textarea {
                width: 90%;
                min-height: 50px;
                border: none;
                margin-left: rem(27px);
                background-color: &clr2;
                font-family: sans-serif;
                border-radius: 5px;
                resize: none;

                &:focus {
                    min-height: 150px;
                }

                &:hover {
                    transition-duration: 150ms;
                    background-color: rgb(219, 219, 219);
                }
            }

        }

        .edit-card-img {
            margin-bottom: rem(20px);

            .uploaded-img {
                width: 60%;
                max-height: 50%;
                margin-left: rem(27px);

            }

            // .loading-img {
            // width: 100%;
            // }

            .remove-img {
                i {
                    margin-right: 5px;
                }
            }

        }

    }

    .checklists {
        .progress-bar {
            margin-bottom: rem(20px);
        }


        margin-left: rem(27px);


        h3 {
            margin-bottom: rem(20px);

        }
    }


    .edit-card-buttons-area {
        // border: 1px solid black;
        flex-direction: column;
        width: rem(180px);

        .edit-card-buttons-container {
            .main-btn-card-edit {
                @include card-edit-btns;

            }
        }

        .close-edit-card {
            font-size: rem(25px);
            justify-content: flex-end;
            margin-bottom: rem(20px);
        }

        .edit-label {
            position: relative;
            font-size: rem(14px);
            margin-bottom: rem(8px);
            width: rem(80px);
            text-align: right;
            border-radius: 3px;
            .edit-label-btn{
                position: absolute;
            }

        }

        .add-members {
            margin-bottom: rem(20px);

            .member-name {
                font-size: 12px;

            }

            .edit-card-member {
                justify-content: space-around;
                padding: 3px;
                align-items: center;
                background-color: rgb(255, 255, 255);
                margin-bottom: rem(8px);
                border-radius: 2px;
                box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
                cursor: pointer;

            }

            .el-date-editor {
                .el-input{
                    width:100%;
                }
            }

            .colors-container {
                // margin-top: 10px;
                // align-items: center;
                // justify-content: space-around;
                // width: 120px;
                // padding-right: 40px;

                // .color {
                //     cursor: pointer;
                //     width: 18px;
                //     height: 18px;
                //     border-radius: 50%;
                //     border: 1px solid rgb(59, 59, 59);
                //     margin-bottom: 3px;
                // }
            }



        }


    }
}