.home {
    color: #333333;
    overflow-y: auto;
    overflow-x: hideen;

    .hero-container {
        justify-content: center;
        max-width: 65.75rem;
        margin: 44px auto 10px;

        .hero-img {
            width: 920px;
            margin-top: 0;
        }

        @include for-mobile-layout {
            flex-wrap: wrap;

            .hero-img {
                width: 342px;
                margin-top: 35px;
            }
        }

        .hero-title {
            flex-direction: column;
            text-align: center;
            align-self: center;

            .logo {
                width: 300px;
                margin-bottom: 60px;
                margin: 0 auto;
            }

            h1 {
                line-height: 30px;
            }

            .link {
                flex-grow: 1;
                justify-content: center;
                width: 400px;
                height: 100px;
                background: #f6f9fe;
                position: relative;
                border-radius: 32px;
                text-align: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                margin: 0 auto;
                font-size: rem(50px);

                &:hover {
                    opacity: 0.6;
                    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                        6px 6px 10px rgba(0, 0, 0, 0.2);
                }

                &:active {
                    opacity: 1;
                    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
                }
            }

            @include for-mobile-layout {
                .logo {
                    width: 287px;
                    margin-bottom: 30px;
                }

                flex-direction: column;
                text-align: center;
                align-self: center;

                h1 {
                    line-height: 30px;
                    margin: 0 35px 30px;
                }

                .link {
                    width: 265px;
                    height: 70px;
                    font-size: rem(30px);
                    margin: 0 auto;
                    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                        6px 6px 10px rgba(0, 0, 0, 0.2);

                }
            }
        }
    }
}

.main-container {
    max-width: 1000px;
    padding-top: 50px;
    flex-direction: column;
    margin: auto;

    .couple:nth-child(2) {
        flex-direction: row-reverse;

        .text {
            align-self: center;
        }
    }

    .couple {
        gap: 30px;
        margin-bottom: 50px;

        @include for-mobile-layout {
            flex-wrap: wrap;
            justify-content: center;
        }

        img {
            width: 50%;

            @include for-mobile-layout {
                width: 80%;

            }
        }

        .text {
            align-self: center;
            width: 50%;

            @include for-mobile-layout {
                text-align: center;
                width: 80%;
            }

            .title {
                font-size: rem(35px);

                @include for-mobile-layout {
                    font-size: rem(30px);
                    margin-bottom: 20px;

                }
            }

            .desc {
                font-size: rem(20px);
                line-height: 30px;
            }
        }
    }
}