/* Mixin buttons */

@mixin bright-buttons {
  outline: none;
  border-radius: 4px;
  background-color: $clr4;
  border: none;

  color: $clr2;

  &:hover {
    background-color: $clr3;
    transition-duration: 150ms;
  }

}

@mixin dark-buttons {
  outline: none;
  border-radius: 4px;
  border: none;
  color: $clr1;
  

  &:hover {
    background-color: $clr5;
    transition-duration: 150ms;
  }
}


@mixin card-edit-btns {
  color: $clr1;
  background-color: rgba(9, 30, 66, .04);
  border-radius: 3px;
  height: rem(32px);
  margin-top: 8px;
  width: rem(180px);
  padding: 6px 12px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: rgba(65, 65, 65, 0.363);
    transition-duration: 300ms;
  }
}

@mixin input {
  background-color: transparent;
  border: none;
}

@mixin scrollbar1 {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-track {
    background: #fbfaf8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 20px;
    border: 3px solid #fbfaf8;
  }
}

@mixin scrollbar2 {

  //for the lists.scss
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  ::-webkit-scrollbar-track {
    background: #fbfaf8;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 20px;
    border: 3px solid #fbfaf8;
  }
}


/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}


/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;


  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}