

@font-face {
    font-family: MontserratL;
    src: url(~@/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: MontserratR;
    src: url(~@/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratSB;
    src: url(~@/assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MontserratEB;
    src: url(~@/assets/fonts/Montserrat-ExtraBold.ttf);
}
