// COLOR PALETTE

$clr1: #5d5d5d; // main text color
$clr2: #F4F5F7; //white text color

// bright-buttons

$clr3: rgba(255, 255, 255, 0.377); //white bgc for hover;
$clr4: rgba(255, 255, 255, 0.26); //white bgc for background and focus;

// dark-buttons

$clr5: rgba(65, 65, 65, 0.109); // bgc for hover;
$clr6: rgba(65, 65, 65, 0.274); // bgc for hover;

//  LABELS PALETTE

// $main blue: #43798f;
$label1: #5699b4;
$label2: #2fb3a3;
$label3: #ffd56b;
$label4: #f8a663;
$label5: #e66646;
$label6: #bdbdbd;

// $label1: #86dafb; 
$label7: #bfe4dd;
$label8: #ffe9b2;
$label9: #f5cfa4;
$label10: #e0dfdf;
$label11: #f6b6b4;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;