
// COLOR PALETTE

$clr1: #353535; // main text color
$clr2: #F4F5F7; //white text color

// bright-buttons

$clr3: rgba(255, 255, 255, 0.377); //white bgc for hover;
$clr4: rgba(255, 255, 255, 0.26); //white bgc for background and focus;

// dark-buttons

$clr5: rgba(65, 65, 65, 0.109); //white bgc for hover;


//  LABELS PALETTE

$label1: #5699b4; 
$label2: #2fb3a3; 
$label3: #ffd56b; 
$label4: #f8a663; 
$label5: #e66646; 
$label6: #bdbdbd; 

// $label1: #86dafb; 
$label2: #bfe4dd; 
$label3: #ffe9b2; 
$label4: #f5cfa4; 
$label6: #e0dfdf; 
$label5: #f6b6b4; 




// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;

