.board-header {

    background-color: rgba(51, 51, 51, 0.26);
    height: 50px;
    // border-bottom: 0.5px solid rgb(51, 51, 51);
    margin-bottom: 20px;
    color: $clr2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "leftBoardHeader  rightBoardHeader";

    .left-board-header {
        margin-left: 10px;
        justify-content: flex-start;
        grid-area: leftBoardHeader;
        align-self: center;

        .board-title {
            outline: none;
            margin-bottom: 0;
            padding: 0px 10px;
            border-radius: 4px;

            &:hover {
                background-color: $clr4;
                transition-duration: 150ms;

            }

            &:focus {
                background-color: $clr3;

            }
        }
    }

    .avater-board-header {
        flex-direction: row;

        .avatar-list {
            margin: 4px;
        }

    }

    .right-board-header {
        margin-right: 10px;
        justify-content: flex-end;
        grid-area: rightBoardHeader;
        align-self: center;

        button {
            font-family: MontserratSB, sans-serif;
            margin: 0 4px;
            @include bright-buttons;
            
        }
    }

}