.board-header {
    background-color: rgba(51, 51, 51, 0.26);
    height: 50px;
    color: $clr2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "leftBoardHeader avaterBoardHeader rightBoardHeader";

    .left-board-header {
        margin-left: rem(8px);
        justify-content: flex-start;
        grid-area: leftBoardHeader;
        align-self: center;

        .board-title {
            color: whitesmoke;
            outline: none;
            margin-bottom: 0;
            padding: 0 10px 0 3px;
            border-radius: 4px;
            &:hover {
                background-color: $clr4;
                transition-duration: 150ms;
            }

            &:focus {
                background-color: $clr3;
            }
        }
    }

    .avater-board-header {
        grid-area: avaterBoardHeader;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .avatar-list {
            margin: 4px;

            .avatar {
                margin: 1px;
            }
        }

    }

    .right-board-header {
        justify-content: flex-end;
        grid-area: rightBoardHeader;
        align-self: center;
        margin-right: rem(8px);

        .menu-btn {
            width: 32px;
            color: whitesmoke;
            font-size: (16px);
            font-weight: 600;
            background-color: rgba(255, 255, 255, 0.24);
            border-radius: 4px;
            margin: 3px;
            padding: 5px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.377);
                transition-duration: 150ms;
            }
        }
    }
}