.activities-container {
    .activity-content {
        margin-bottom: 16px;
        line-height: 20px;

        .activity-line {
            margin-bottom: 5px;

            .name {
                font-weight: bold;
            }
        }
    }
}