.board-filter {
    display: flex;
    justify-content: center;
    padding: rem(5px);
    margin: 0 4px;
    @include bright-buttons;

    :placeholder-shown {
        color: white;
    }

    input {
        @include input;
        height: rem(17px);
    }
}