.card-preview-container {
    display: block;
    width: 100%;
    border-radius: 3px;
    color: $clr1;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
    margin-bottom: 8px;
    
    

    img {
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .card-content {
        width: 256px;
        padding: 6px 8px 2px;
        font-size: 14px;
        font-weight: 400;
        &:hover{
            
            background-color: rgb(240, 240, 240); 
         }

        .card-title-delete {
            justify-content: space-between;
            color: transparent;

            &:hover {
                color: #5d5d5d;
            }

            .card-title {
                display: block;
                margin-bottom: 4px;
                color: #5d5d5d;
            }
        }

        .card-bottom {
            justify-content: space-between;
            margin-bottom: 2px;

            .card-bottom-left {
                .avatar-list {
                    margin: 0;
                    padding: 0;

                    .avatar {
                        margin-right: 1px;
                    }
                }
            }

            .card-bottom-right {
                align-items: flex-end;

                span {
                    font-size: 15px;
                    margin-left: 10px;
                }
            }
        }
    }
}