
.labels-closed {
    display: flex;
    color: transparent;

    ul {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 3px 0 3px 0;

    }

    li {
        height: 10px;
        width: 30px;
        border-radius: 4px;
        color: transparent;
        margin: 3px;
    }
}


.labels-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.li-label {
    justify-content: center;
    align-items: center;
    font-size: rem(13px);
    text-align: center;
    padding: 0 10px;
    border-radius: 8px;
    margin: 4px 6px 0 0;
}


