.labels-closed {
    display: flex;
    color: transparent;
    display: inline-block;
    transition: .2s ease-in;

    ul {
        flex-wrap: wrap;
        justify-content: space-around;

    }

    li {
        height: 8px;
        width: 30px;
        border-radius: 4px;
        color: transparent;
    }
}

.labels-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.li-label {
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin: 0 5px 5px 0;
    padding: 3px 6px 0px 8px;

    .remove-label {
        color: white;
        padding-right: 0;
    }
}