.labels-closed {
    display: flex;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
    }
    li {
        height: 10px;
        width: 30px;
        border-radius: 20%;
        color: transparent;
        margin: 1px;
    }
}

.labels-open {
    display: flex;

    flex-wrap: wrap;

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        margin: 3px;
        font-size: 13px;
        padding: 5px;
        text-align: center;
        border-radius: 9%;
    }
}
