.checklists {
    li {
        display: flex;
    }

    .delete-btn {
        // height: 20%;
        margin-left: em(20px);
        border: none;
        border-radius: 4px;
        border: none;
        color: #353535;
        // height: 25px;

        i{
           margin-bottom: 0; 
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(65, 65, 65, 0.123);
            transition-duration: 150ms;
        }
    }
}
