* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.app {
    height: 100vh;
    // background-image: url("https://res.cloudinary.com/morshva/image/upload/v1606573776/7_op2qhx.jpg");
    // background-image: url("https://res.cloudinary.com/morshva/image/upload/v1606572977/2_hbkchm.jpg");
    // background-image: url("https://res.cloudinary.com/morshva/image/upload/v1606572976/3_ye915h.jpg");
    // background-image: url("https://res.cloudinary.com/morshva/image/upload/v1606573383/5_mavwxz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0;
    font-weight: normal;
    line-height: 1.3;
}


p {
    margin: 0 0 1em;
    max-width: 54ch;
}

img {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: $clr1;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    outline: none;
}