header.main-header {

    color: $clr2;
    height: 40px;
    background-color: #CD687C;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "leftHeader logo rightHeader";

    h4 {
        margin-bottom: 0;
    }

    .main-header-left {
        display: flex;
        justify-content: flex-start;
        grid-area: leftHeader;
        align-self: center;

        h4 {
            margin-left: 20px;
        }
    }

    .logo {
        font-family: Pacifico;
        display: flex;
        justify-content: center;
        grid-area: logo;
        align-self: center;

        h1 {
            margin-bottom: 0;
        }
    }

    .main-header-right {
        display: flex;
        justify-content: flex-end;
        grid-area: rightHeader;
        align-self: center;

        h4 {
            margin-right: 20px;
        }

    }

}