.boards-menu-container {

    background-color: rgb(211, 211, 211);
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 2;
    font-size: rem(20px);


    .boards-menu {
        display: flex;
        flex-direction: column;
        width: 150px;

        .boards-list {
            color: $clr1;
            padding: 5px;
        }

        button {
            margin: 5px;
        }
    }
}