header.main-header {

    color: whitesmoke;
    height: 40px;
    background-color: #333333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "leftHeader logo rightHeader";


    button {
        color: whitesmoke;
        font-size: (16px);
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 4px;
        margin: 3px;
        padding: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
            transition-duration: 150ms;
        }

    }

    .main-header-left {
        display: flex;
        justify-content: flex-start;
        grid-area: leftHeader;
        align-self: center;
        margin-left: rem(8px);

        button {
            width: 32px;
        }
    }

    .logo {
        font-family: Pacifico;
        display: flex;
        justify-content: center;
        grid-area: logo;
        align-self: center;

        img {
            max-width: rem(90px);
            margin-top: 6px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .main-header-right {
        display: flex;
        justify-content: flex-end;
        grid-area: rightHeader;
        align-items: center;
        margin-right: rem(8px);

        @include for-mobile-layout {
            
            .board-open-menu {
                color: transparent;
                width: 32px;
                height: 32px;
                padding: 0;

                i {
                    color: whitesmoke;
                    padding-top: 9px;
                }
            }
        }
    }
}