.lists-container {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
    @include scrollbar2;
    max-height: 100%;
    height: calc(100vh - 110px);

    .smooth-dnd-container {
        height: 100%;
        position: relative;
        min-height: 30px;
        min-width: 30px;
        flex: 1;
        overflow-y: auto;
    }

}

.list-container {
    max-height: calc(100vh - 140px);
    // overflow-x: hidden;
    // overflow-y: auto;
    // display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F5F7;
    border-radius: 3px;
    margin: 0 4px;
    width: rem(270px);



    .add-another-card-button {
        @include dark-buttons;
        box-shadow: 0 2px 0 rgba(9, 30, 66, .25);
        width: 234px;
        padding: 10px;
        margin: 8px 0 12px;
    }

    .add-card-button-inside {
        align-self: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
            padding: 10px;
            margin: 8px 0 12px;
        }

        input {
            width: rem(200px);
            padding: 25px 5px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
            border: none;
        }

    }

    .list-title {
        border: none;
        width: 100%;

        &:hover {
            background-color: rgba(65, 65, 65, 0.363);
            transition-duration: 150ms;
            background-color: $clr2;

        }
    }
}