.list-menu {

    flex-direction: column;
    position: absolute;
    top: 39px;
    right: -20px;
    width: 256px;
    padding: 6px 8px 2px;
    font-size: 14px;
    font-weight: 400;
    z-index: 5;
    background-color: #f4f5f7;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
    width: 173px;

    .list-menu-header {
        justify-content: space-between;
        align-items: center;
        margin: 0 6px 0 12px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);

        .list-menu-close-btn {
            &:hover {
                background-color: rgba(65, 65, 65, 0.109);
                transition-duration: 150ms;
            }
        }

        h3 {
            line-height: 20px;
            font-size: 1rem;
            margin: 10px auto;
        }
    }

    .list-menu-content {
        justify-content: center;
        align-items: center;

        ul {
            width: 100%;

            li {
                line-height: 30px;
                text-align: left;
                padding-left: 3px;

                &:hover {
                    border-radius: 3px;
                    background-color: rgba(65, 65, 65, 0.109);
                    transition-duration: 150ms;
                }
            }

            input {
                margin: 2px 0 5px;
            }

            button:first-of-type {
                width: 100px;
                padding: 5px;
                color: #e2e2e2;
                border-radius: 4px;
                background-color: $label1;

                &:hover:first-of-type {
                    border-radius: 3px;
                    background-color: #2e6880;
                    transition-duration: 150ms;
                }
            }
        }
    }
}